@import "../globals.scss";

.login_container {
    @extend .container, .section-gap;
    @apply rounded-lg border;

    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
        text-align: center;
        font-size: clamp(1.2rem, 2vw, 1.5rem);

        padding-bottom: 0.3rem;
        @apply border-b font-bold;
    }

    button {
        @apply w-full;
    }
}
