@import "../globals.scss";

nav {
    position: sticky;
    top: 0;

    @extend .container;

    @apply py-2;
}

.nav_container {
    display: flex;
    flex-wrap: nowrap;

    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.n_c__links {
    ul {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        li {
            text-decoration: none;
            a {
                @apply font-medium;
                &:hover {
                    @apply text-blue-600;
                    cursor: pointer;
                }
            }
        }
    }
}
